.notificator-app {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85)); }

.bg_green { background: linear-gradient(180deg, rgb(166, 236, 59), rgb(124, 202, 8)); border: 1px solid rgb(124, 202, 8); }
.bg_red { background: linear-gradient(180deg, rgb(236, 59, 59), rgb(202, 8, 8)); border: 1px solid rgb(202, 8, 8);}
.bg_blue { background: linear-gradient(180deg, rgb(59, 200, 236), rgb(8, 147, 202)); border: 1px solid rgb(8, 147, 202);}

.notif_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 3px 10px;
    font-weight: 600;
    opacity: .9;
    cursor: pointer; }
.notif_btn:hover { opacity: 1; }

.notif_mmenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 300px;
    max-width: 300px;
    padding: 5px;
    height: 100%; }

.notif_mmenu_panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
    width: 100%;
    height: 30px; 
    font-size: small;
    overflow: hidden;
    overflow-x: auto; }

.notif_mmenu_panel_selectbtn,
.notif_mmenu_panel_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 240, 237);
    padding: 3px 5px;
    height: 24px;
    border-radius: 3px 3px 0 0;
    cursor: pointer; }
.notif_mmenu_panel_selectbtn { background-color: white; }
.notif_mmenu_panel_selectbtn:hover,
.notif_mmenu_panel_btn:hover { color: rgb(73, 94, 94); }

.notif_mmenu_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: calc(100% - 30px);
    background-color: white;
    margin-top: -4px;
    border-radius: 0 3px 3px 3px; }

.notif_mmenu_blockelem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    width: calc(100% - 10px);
    padding: 3px 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; }

.notif_marea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    width: calc(100% - 310px);
    height: 98%;
    background-color: rgba(0, 139, 139, 0.1);
    border-radius: 3px 3px 5px 5px;
    overflow: hidden;
    overflow-y: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px; }

.notif_marea::-webkit-scrollbar {
    width: 10px;
    border-radius: 3px;
    background: linear-gradient(180deg, white, rgb(103, 141, 141), white); }
.notif_marea::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgb(7, 177, 177), darkcyan, rgb(1, 110, 110));
    border-radius: 3px;
    box-shadow: 1px 2px black;
    cursor: pointer; }

.notif_mheader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    min-width: 100%;
    max-width: 100%;
    padding-right: 10px;
    height: 30px;
    background-color: darkcyan;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    text-shadow: 1px 2px black;
    font-size: 16px;
    box-shadow: 1px 2px 6px black; }

#main_mheader {
    position: sticky;
    top: 0;
    z-index: 100; }

.notif_notifsElems_panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3px;
    width: calc(100% - 6px);
    padding: 3px; }

.notif_notifsElems_panelConteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
    border-radius: 3px;
    padding: 3px 5px;
    box-shadow: 1px 2px 6px black; }

.notif_notifsElems_panelConteiner i { color: rgb(190, 190, 190); font-weight: 600;}

.notif_elem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3px;
    width: calc(96% - 10px);
    max-width: 800px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 3px;
    margin-left: 2%;
    box-shadow: 1px 2px 6px black;
    padding: 5px; }

.notif_fullCard_area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3px;
    align-items: center;
    width: calc(96% - 10px);
    max-width: 900px;
    background-color: white;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 2%;
    box-shadow: 1px 2px 4px gray;
    padding: 5px 10px; }

.notif_fullCard_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(98% - 20px);
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(197, 197, 197, 0.212); }

.notif_fullCard_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    width: 98%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; }

.notif_fullCard_actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    border-radius: 3px;
    cursor: pointer;
    opacity: .9; }
.notif_fullCard_actions button:hover { opacity: 1; }

.notif_newelem {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(166, 236, 59), rgb(124, 202, 8));
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border: 1px solid rgb(124, 202, 8);
    color: rgb(29, 46, 4);
    animation: pulse 1s infinite; }

.notif_elem_authorarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    min-width: 90px;
    max-width: 90px;
    background-color: rgba(0, 139, 139, 0.4);
    border-radius: 3px;
    text-align: center;
    font-size: smaller;
    padding: 5px;
    font-weight: 600; }

.notif_elem_contentarea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    min-width: calc(100% - 135px);
    max-width: calc(100% - 130px);
    height: 80px;
    padding: 0 5px 5px 5px; }

.notif_elem_panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
    width: 20px; }

.notif_elem_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-weight: 600; }

.notif_btn_close {
    width: 20px;
    height: 20px;
    padding: 1px 3px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(180deg, rgb(255, 98, 98), rgb(228, 43, 43), rgb(214, 9, 9));
    color: white;
    font-weight: 600;
    border: 1px solid rgb(214, 9, 9); }

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

.notif_elem_applogo {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    font-size: small;
    text-align: center;
    color: black;
    flex-shrink: 0; }

.notif_content_area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5px;
    background-color: rgba(197, 197, 197, 0.212);
    padding: 3px 5px;
    border-radius: 3px; }

.notif_creator_area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    width: calc(100% - 10px);
    max-width: 900px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, white, rgb(241, 241, 241), rgb(216, 216, 216));
    padding: 5px 5px 10px 5px;
    border-radius: 5px; }

.notif_creator_newelem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    width: calc(98% - 10px);
    padding: 3px 5px;
    margin-left: auto;
    margin-right: auto; }

.notif_creator_newelem textarea,
.notif_creator_newelem input {
    width: calc(98% - 10px);
    min-height: 20px;
    max-height: 40vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 3px 5px; }

.notif_btn_showFullNotif { margin-left: auto; margin-right: auto; }

.notif_menublock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3px;
    width: calc(100% - 10px);
    border-radius: 3px;
    padding: 10px 5px;
    border: 1px solid lightgray; }

.notif_filterchkbox,
.notif_filterselect,
.notif_filterdate {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    margin-left: 5px; }

.notif_notifsElems_paneltitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
    margin-right: 5px; }

.notif_notifsElems_panelConteiner_x {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    opacity: .9; }
.notif_notifsElems_panelConteiner_x:hover { opacity: 1; }

.notif_donearea,
.notif_errorarea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: calc(98% - 10px);
    max-width: 600px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    box-shadow: 1px 2px 4px rgb(192, 192, 192); }

.notif_donearea {
    background: linear-gradient(180deg, rgb(204, 253, 159), rgb(109, 231, 93), rgb(40, 216, 24));
    border: 2px solid rgb(141, 235, 154);
    text-shadow: 1px 1px rgb(11, 131, 47); }

.notif_errorarea {
    background: linear-gradient(180deg, rgb(253, 159, 159), rgb(231, 93, 93), rgb(216, 24, 24));
    border: 2px solid rgb(235, 141, 141);
    text-shadow: 1px 1px rgb(131, 11, 11); }

.notif_donearea b,
.notif_errorarea b {
    font-size: 14px;
    color: black;
    text-shadow: none; }

.notif_btn_pinmsg,
.notif_btn_unpinmsg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    opacity: .9; }
.notif_btn_pinmsg:hover,
.notif_btn_unpinmsg:hover { opacity: 1;}
.notif_btn_pinmsg { color: black; }
.notif_btn_unpinmsg { color: gray; }