.notificator-app {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background: linear-gradient(180deg, white, lightgray); }

.notif_mmenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    min-width: 300px;
    max-width: 300px;
    height: 100%; }

.notif_marea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    width: calc(100% - 310px);
    height: 98%;
    background-color: rgba(0, 139, 139, 0.096);
    border-radius: 3px 3px 5px 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px; }

.notif_mheader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    min-width: 100%;
    max-width: 100%;
    padding-right: 10px;
    height: 30px;
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(0, 139, 139, 0.329), darkcyan); */
    background-color: darkcyan;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    text-shadow: 1px 2px black;
    font-size: 16px; }

.notif_elem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3px;
    width: calc(96% - 10px);
    height: 80px;
    background-color: white;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px; }

.notif_elem_authorarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
    max-width: 100px;
    background-color: lightgray;
    border-radius: 3px;
}

.notif_elem_contentarea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; }

.notif_elem_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}