.notif_app {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85)); }

.notifications_area {
    display: block;
    width: calc(100% - 280px); }

.menu_area {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 280px;
    height: calc(100% - 20px);
    padding: 10px; }

.notifmenu_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20px;
    border: 2px solid rgb(103, 55, 235);
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 6px black;
    /* box-shadow: 1px 2px 3px turquoise;  */
}

.notifmenu_block hr {
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 2px solid rgb(103, 55, 235); }

.notifmenu_block .title {
    display: block;
    text-align: left;
    margin: 3px 5px 10px 5px;
    font-weight: 600;
    font-size: medium;
    color: white;
}

.notifmenu_block button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

.notifs_tab {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    /* border: 2px solid turquoise; */
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    box-shadow: 1px 2px 6px black;
    overflow: hidden;
    overflow-y: auto;
}

.notifs_tab::-webkit-scrollbar { width: 6px; }
.notifs_tab::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px; }
.notifs_tab::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(103, 55, 235), rgb(29, 112, 104));
    
    border-radius: 3px; }
.notifs_tab::-webkit-scrollbar-thumb:hover { background: rgb(103, 55, 235); }

.notifs_tab_elem {
    display: block;
    width: calc(98% - 10px);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* background: white; */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    /* padding: 5px; */
    box-shadow: 1px 2px 6px black; }

.notifs_tab_elem .title,
.title_success,
.title_error,
.title_warning,
.title_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 30px;
    border-radius: 0 5px 0 0;
    margin-bottom: 5px;
    padding: 1px 5px;
    color: white;
    font-weight: 600;
    font-size: medium; }

.title_success i,
.title_error i,
.title_warning i,
.title_info i { font-weight: 500; }

.title_success { background-color: rgb(27, 236, 62); }
.title_error { background-color: rgb(236, 27, 27); }
.title_warning { background-color: rgb(232, 236, 27); }
.title_info { background-color: rgb(27, 160, 236); }

.leftboard_success { border-left: 5px solid rgb(27, 236, 62); }
.leftboard_error { border-left: 5px solidrgb(236, 27, 27); }
.leftboard_warning { border-left: 5px solid rgb(232, 236, 27); }
.leftboard_info { border-left: 5px solid rgb(27, 160, 236); }

.notifs_tab_elem_content {
    display: block;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px black; }

.notifs_tab_elem_operations {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    width: 98%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5px;
    font-size: 1rem;
    border-top: 1px solid gray;
}

.notifs_tab_elem_operations button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.notifs_tab_elem_operations button:hover { color: white; }