.mplayer-app {
    display: flex;
    width: 100%;
    height: 100%; }

.mplayer-mpanel {
    display: inline-block;
    width: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85));
}
.mplayer-ppanel {
    display: inline-block;
    width: calc(100% - 300px);
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85));
}

.mplayer-buttons-tpanel,
.mplayer-buttons-bpanel {
    /* width: 100%; */
    height: 30px;
    color: white;
    padding: 5px;
    font-size: small;
    text-shadow: 1px 1px 2px black; }

.mplayer-buttons-tpanel { padding-top: 10px; }
.mplayer-buttons-bpanel { padding-bottom: 10px; }

.mplayer-buttons-panel-elem {
    margin-right: 5px;
    cursor: pointer; }

.mplayer-buttons-panel-elem:hover {
    color: rgb(125, 199, 255);
    text-shadow: 1px 1px 1px rgb(60, 151, 221); }

.mplayer-buttons-panel-ielem {
    padding-right: 5px;
    margin-right: 5px; }

.mplayer-buttons-panel-ielem:not(:last-child) { border-right: 1px solid gray; }

.mplayer-playlist {
    width: calc(100% - 20px);
    height: calc(100% - 60px);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: small; }

.table-responsive {
    margin-bottom: 0;
}
/* .table { width: 99%;} */
.mplayer-playlist-tab .table {
    display: block;
    /* width: 98%;
    height: 98%; */
    overflow: hidden;
    overflow-y: auto;
    border-radius: 5px; }

.mplayer-coverspace {
    display: block;
    width: calc(100% - 10px);
    min-height: 200px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 10px; }

.mplayer-tracknamespace {
    display: block;
    width: calc(100% - 10px);
    min-height: 50px;
    margin-top: 10px;
    color: white;
    font-size: small;
    text-align: center; }

.mplayer-cover {
    display: block;
    width: 190px;
    height: 190px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* =-=-=-=-=-=-=- */
.btn {
  transition: all 0.3s ease;
}

/* @keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
} */