<div class="mplayer-app">
    <div class="mplayer-mpanel">
        <div class="mplayer-buttons-tpanel d-flex justify-content-center align-items-center">
            <div class="mplayer-buttons-panel-elem mb-1">
                <i class="valid-indicator" :class="(IsValidPlayList) ? 'isvalid-indicator' : ''" :title="(IsValidPlayList) ? LangData('isvalidplaylisttxt') : LangData('isnotvalidplaylisttxt')"></i>
            </div>
            <div class="mplayer-buttons-panel-elem" :class="(CoverMode) ? 'ispushbtn' : ''" @click="Chng_CoverMode(1)">{{LangData('cover')}}</div>
            <div class="mplayer-buttons-panel-elem" :class="(!CoverMode) ? 'ispushbtn' : ''" @click="Chng_CoverMode(0)">{{LangData('abouttrack')}}</div>            
        </div>        
        <div v-if="(!CoverMode && currentTrack)" class="mplayer-coverspace d-flex justify-content-center">
            <table v-if="currentTrack" class="mplayer-trackinfo-tab">
                <tbody>
                    <tr>
                        <td>{{LangData('artist')}}:</td>
                        <td><i>{{currentTrack.common.artist || '???'}}</i></td>
                    </tr>
                    <tr>
                        <td>{{LangData('name')}}:</td>
                        <td><i>{{currentTrack.common.title || '???'}}</i></td>
                    </tr>
                    <tr>
                        <td>{{LangData('album')}}:</td>
                        <td><i>{{currentTrack.common.album || '???'}}</i></td>
                    </tr>                    
                    <tr>
                        <td>{{LangData('min')}}:</td>
                        <td><i>{{formatDuration(currentTrack.common.duration)}}</i></td>
                    </tr>
                    <tr>
                        <td>{{LangData('year')}}:</td>
                        <td>{{currentTrack.common.year || '???'}}</td>
                    </tr>
                    <tr>
                        <td>{{LangData('genre')}}:</td>
                        <td>{{currentTrack.common?.genre || ''}}</td>
                    </tr>
                    <tr>
                        <td>{{LangData('trackinalbum')}}:</td>
                        <td><i>{{currentTrack.common.track.no ? currentTrack.common.track.no : '??'}}</i> / <i>{{currentTrack.common?.track?.of || '??'}}</i></td>
                    </tr>
                    <tr>
                        <td>CD №:</td>
                        <td><i>{{currentTrack.common.disk.no ? currentTrack.common.disk.no : '??'}}</i> / <i>{{currentTrack.common?.disk?.of || '??'}}</i></td>
                    </tr>
                    <tr>
                        <td>{{LangData('rating')}}:</td>
                        <td><i>{{currentTrack.common.rating ? (currentTrack.common.rating * 10) : '??'}}</i> / <i>10</i></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{LangData('lyrics')}}:<br>
                            <div class="d-flex justify-content-center align-items-center">{{currentTrack.common?.lyrics || '- - -'}}</div>                            
                        </td>
                    </tr>
                </tbody>
            </table>    
        </div>
        <div v-else class="mplayer-coverspace d-flex justify-content-center align-items-center">
            <div v-if="TargetTrack" class="mplayer-cover"></div>
            <div v-else class="mplayer-cover d-flex justify-content-center align-items-center" :style="{backgroundImage: `url(${currentCoverUrl || ''})` }">
                <div v-show="!currentCoverUrl" style="font-size: 50px; text-shadow: 1px 1px 2px black;">🎶</div>
            </div>
        </div>
        <div class="mplayer-tracknamespace d-flex justify-content-center align-items-center">
            <table>
                <tbody>
                    <tr>
                        <td><i>{{(currentTrack) ? (currentTrack.common.artist + ' - ' + currentTrack.common.title) : '- - -'}}</i></td>
                    </tr>
                    <tr>
                        <td><i>{{currentTrack_time}}</i> / <i>{{(TrackTime && TrackTime.duration !== 0) ? ShowerTime(TrackTime.duration) : '00:00'}}</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mplayer-tracktimeline">
            <audio id="main_audio" controls @ended="PlayerAction_NextTrack()" :src="(currentTrack) ? currentTrack.common.url : ''" style="display: none;" :volume="VolumeLvl" @timeupdate="onTimeUpdate" />
            <input id="main_tracktime" type="range" class="mplayer-trackrangetime" min="0" :max="TrackTime.duration" value="0" @change="Chng_TrackRangeTime()">
        </div>
        <div class="mplayer-buttons-bpanel d-flex justify-content-center align-items-center">
            <button class="btn btn-outline-secondary rounded-circle me-2" :title="LangData('prevtrack')" @click="PlayerAction_PrevTrack()" :disabled="!IsValidPlayList">
                <i class="bi bi-skip-start-fill fs-3"></i>
            </button>
            <button class="btn btn-outline-secondary rounded-circle me-2" :title="LangData('stopplayback')" @click="PlayerAction_Stop()" :disabled="!IsValidPlayList">
                <i class="bi bi-stop-fill fs-3"></i>
            </button>            
            <button v-if="isPlaying" class="btn btn-primary btn-lg rounded-circle me-2" style="width: 45px; height: 45px;" :title="LangData('pause')" @click="PlayerAction_Pause()" :disabled="!IsValidPlayList">
                <i class="fs-3 bi bi-pause-fill"></i>
            </button>
            <button v-else class="btn btn-primary btn-lg rounded-circle me-2" style="width: 45px; height: 45px;" :title="LangData('play')" @click="PlayerAction_Play()" :disabled="!IsValidPlayList">
                <i class="fs-3 bi bi-play-fill"></i>
            </button>
            <button class="btn btn-outline-secondary rounded-circle" :title="LangData('nexttrack')" @click="PlayerAction_NextTrack()" :disabled="!IsValidPlayList">
                <i class="bi bi-skip-end-fill fs-3"></i>
            </button>
        </div>
        <div class="mplayer-buttons-tpanel d-flex justify-content-center align-items-center mt-2">
            <button class="btn btn-outline-secondary me-1" @click="Chng_SilentMode()">
                <i class="bi bi-volume-mute fs-6" :class="(SilentMode) ? 'ispushbtn' : ''"></i>
            </button>
            <button class="btn btn-outline-secondary me-1" @click="VolumeMinus()">
                <i class="bi bi-volume-down fs-6"></i>
            </button>
            <i class="me-2">{{(VolumeLvl > 0) ? (VolumeLvl * 100) : '00'}}%</i>
            <button class="btn btn-outline-secondary me-1" @click="VolimePlus()">
                <i class="bi bi-volume-up fs-6"></i>
            </button>
            <button class="btn btn-outline-secondary me-1" @click="Chng_ShuffleMode()">
                <i class="bi bi-shuffle fs-6" :class="(ShuffleMode) ? 'ispushbtn' : ''"></i>
            </button>
        </div>
    </div>
    <div class="mplayer-ppanel">
        <div class="mplayer-buttons-tpanel d-flex justify-content-center align-items-center">
            <label for="input_music_file" class="cust-file-upload">
                <i v-if="IsValidPlayList && PlayList && PlayList.length > 0">+ {{LangData('chooseanother')}}</i>
                <i v-else-if="!IsValidPlayList && PlayList && PlayList.length > 0">+ {{LangData('specifyfolder')}}</i>
                <i v-else>+ {{LangData('add')}}</i>
                <input type="file" id="input_music_file" webkitdirectory directory multiple @change="handleFileSelect">
            </label>
        </div>
        <div class="mplayer-playlist d-flex">
            <table class="mplayer-playlist-tab table table-responsive" :class="!IsValidPlayList ? 'opasity' : ''">
                <thead>
                    <tr>
                        <th>[]</th>
                        <th>№</th>
                        <th>
                            <span @click="ChngVal_ShowCOnfig('artist')">{{ShowConfig.playlist.artist ? LangData('artist') : LangData('artist')[0]}}</span>
                        </th>
                        <th>
                            <span @click="ChngVal_ShowCOnfig('album')">{{ShowConfig.playlist.album ? LangData('album') : LangData('album')[0]}}</span>
                        </th>
                        <th>{{LangData('name')}}</th>
                        <th>
                            <span @click="ChngVal_ShowCOnfig('duration')">{{ShowConfig.playlist.duration ? LangData('min') : LangData('min')[0]}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(track, index) in PlayList" :key="track.common.id" :class="{isactivetrack: currentTrack && currentTrack.common.id === track.common.id}" @dblclick="IsValidPlayList ? SelectTrack(index) : ''">
                        <td><input type="checkbox" v-model="trackSelector" :value="track.common.id"></td>
                        <td>{{index + 1}}</td>
                        <td>{{ShowConfig.playlist.artist ? (track.common.artist ? track.common.artist : '--') : ''}}</td>
                        <td>{{ShowConfig.playlist.album ? (track.common.album ? track.common.album : '--') : ''}}</td>
                        <td>{{track.common.title ? track.common.title : 'unknown'}}</td>
                        <!-- <td>{{ShowConfig.playlist.duration ? track.common.duration : '0000000'}}</td> -->
                        <td>{{ShowConfig.playlist.duration ? (track.common.duration ? formatDuration(track.common.duration) : '--:--') : ''}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mplayer-buttons-bpanel" style="text-align: right;">
            <div v-if="trackSelector && trackSelector.length > 0" class="mplayer-buttons-panel-ielem" style="display: inline-block;">
                <label class="me-1" for="trackSelector_action">{{LangData('selected')}}({{trackSelector.length}}):</label>
                <select class="me-1" id="trackSelector_action" name="myOptions">
                    <option value="N" selected>--</option>
                    <option value="DEL">{{LangData('delete')}}</option>
                </select>
                <button class="trackSelector-confirm-btn" @click="Mk_trackSelectorAction()"><i>ok</i></button>
            </div>
            <span class="mplayer-buttons-panel-ielem">{{LangData('totaltracks')}}: {{PlayList.length}}</span>
            <span class="mplayer-buttons-panel-ielem">{{LangData('duration')}}: {{(durationAll && durationAll > 0) ? formatDuration(durationAll) : '--:--'}}</span>
        </div>
    </div>
</div>