.osisettings-app {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85)); */
    color: white;
    font-family: 'Segoe UI', Arial, sans-serif;
    overflow: auto; }

.osisettings-menu {
    display: block;
    width: 200px;
    /* height: calc(100% - 20px); */
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85));
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px; }

.osisettings-menu li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    /* border-bottom: 1px solid gray; */
 }

.osisettings-content {
    display: block;
    width: calc(100% - 230px); }

.osisettings-elem-info {
    display: block;
    width: calc(100% - 20px);
    max-width: 1200px;
    padding: 5px 5px 10px 5px;
    border: 1px solid gray;
    /* background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85)); */
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: small;
    box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.2);
    color: black; }

h2 {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85));
    /* background: linear-gradient(to right, rgb(179, 146, 240), rgba(179, 146, 240, 0.8), rgba(179, 146, 240, 0.525), rgba(0, 0, 0, 0)); */
    color: white;
    text-shadow: 1px 1px 2px black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px; }

.osisettings-elem-info ul {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.osisettings-btn,
.osisettings-btn-warning {
    display: inline-block;
    min-width: 20px;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 5px; }

.osisettings-btn-warning {    
    background: linear-gradient(rgb(165, 34, 34), rgb(197, 34, 34), rgb(126, 34, 34));
    color: white; }

.osisettings-btn-warning:hover { opacity: 0.85; }

.deskimg-preview {
    display: inline-block;
    width: 160px;
    height: 90px;
    border-radius: 5px;
    margin: 5px;
}

.osisettings-menu-elem {
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
    cursor: pointer; }

.osisettings-menu-elem:hover {
    color: rgb(179, 146, 240); }

.osilogo {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }

.selected-menu-elem {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px;
    border-radius: 5px;
    color: rgb(179, 146, 240); }

.osisettings-elem-info-tab {
    width: 96%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px; }

.osisettings-elem-info-tab td {
    padding: 3px 5px;
    border: 1px solid lightgray; }

.tab-header {
    background-color: lightgray;
    text-align: center; }

.wp-elem-min {
    display: inline-block;
    width: 160px;
    height: 100px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer; }

.wp-elem-min img {
    width: 150px;
    height: 100px;
    background-size: 'cover';
    background-position: 'center';
    background-repeat: 'no-repeat';
    background-color: rgba(0, 0, 0, 0.272);
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.wp-elem-min-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 500; }

.account-elem {
    width: 400px;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85));
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.account-elem-avatar {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 10px;
}

.accaunts-list {
    width: 96%;
    overflow: hidden;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}

.account-elem-min {
    /* display: inline-block; */
    width: 160px;
    height: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85));
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    margin: auto;
    margin-bottom: 1rem;
}

.account-elem-avatar-min {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 5px;
}

.selected-wp {
    border: 2px solid rgba(43, 226, 113, .8);
    border-image: linear-gradient(rgba(43, 226, 113, .7), rgba(43, 226, 113, .8));
    border-image-slice: 1; }
/* .selected-wp { border: 2px solid rgba(43, 226, 113, .8); } */