<div class="osisettings-app">
    <div class="osisettings-menu">
        <ul>
            <li v-bind:class="{'selected-menu-elem': (Chk_selectedArea('all'))}"><span class="osisettings-menu-elem" @click="ChngArea('all')">{{ LangData.allsettings }}</span></li>
            <li v-bind:class="{'selected-menu-elem': (Chk_selectedArea('description'))}"><span class="osisettings-menu-elem" @click="ChngArea('description')">{{ LangData.description }}</span></li>
            <li v-bind:class="{'selected-menu-elem': (Chk_selectedArea('accounts'))}"><span class="osisettings-menu-elem" @click="ChngArea('accounts')">{{ LangData.accounts }}</span></li>
            <li v-bind:class="{'selected-menu-elem': (Chk_selectedArea('design'))}"><span class="osisettings-menu-elem" @click="ChngArea('design')">{{ LangData.design }}</span></li>
            <li v-bind:class="{'selected-menu-elem': (Chk_selectedArea('memmanagment'))}"><span class="osisettings-menu-elem" @click="ChngArea('memmanagment')">{{ LangData.memmanagment }}</span></li>
        </ul>
    </div>
    <div class="osisettings-content">        
        <!-- description area -->
        <div v-if="SelectArea === 'description' || SelectArea === 'all'" class="osisettings-elem-info">
            <div>
                <h2>{{LangData.description}}</h2>
                <ul>
                    <li>{{LangData.name}}: <i>"{{ OSIData.name }}"</i></li>
                    <li>{{LangData.version}}: <i>"{{ OSIData.versionName }}"</i></li>
                    <li>№: <i>{{ OSIData.version }}</i></li>
                    <li>{{ LangData.date }}: <i>{{ OSIData.date }}</i></li>
                </ul>
            </div>
            <br>
            <div v-if="GetBrowserData()">
                <h2>Устройство пользователя</h2>
                <ul>
                    <li>{{LangData.name}}: <i>"{{ GetBrowserData().name }}"</i></li>
                    <li>{{LangData.version}}: <i>{{ GetBrowserData().version }}</i></li>
                </ul>
            </div>
        </div>

        <!-- accounts area -->
        <div v-if="SelectArea === 'accounts' || SelectArea === 'all'" class="osisettings-elem-info">
            <h2>{{LangData.accounts}}</h2>
            <h3>Текущая учетная запись:</h3>
            <div class="account-elem d-flex justify-content-center align-items-center">
                <div class="account-elem-avatar" :style="avatarStyle(USER.config.avatar)"></div>
                <ul style="display: inline-block;">
                    <li>{{LangData.user}}: {{USER.name}}</li>
                    <li>{{LangData.login}}: {{USER.login}}</li>
                    <li>{{LangData.created}}: {{USER.createdAt.toLocaleTimeString('ru-RU', {hour: '2-digit', minute: '2-digit'})}} {{USER.createdAt.toLocaleDateString()}}</li>
                    <li>{{LangData.changed}}: {{USER.updatedAt.toLocaleTimeString('ru-RU', {hour: '2-digit', minute: '2-digit'})}} {{USER.updatedAt.toLocaleDateString()}}</li>
                </ul>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <span class="osisettings-btn-warning" @click="ReloadPage()">Выйти из учетной записи</span>
            </div>
            <hr>
            <h3>Все учетные записи на устройстве:</h3>
            <div class="accaunts-list row">
                <div v-for="u in users" class="account-elem-min d-flex justify-content-center align-items-center">
                    <div class="account-elem-avatar-min" :style="avatarStyle(u.config.avatar)"></div>
                    <div style="display: inline-block;">
                        <b>{{u.login}}</b>
                    </div>
                </div>
            </div>            
        </div>

        <!-- design area -->
        <div v-if="SelectArea === 'design' || SelectArea === 'all'" class="osisettings-elem-info">
            <h2>{{LangData.design}}</h2>
            <ul>
                <li>
                    <h3>{{ LangData.desktopbgimg }}:</h3>
                    <div v-for="wp in wpList" class="wp-elem-min" @click="ChangeWPImage(wp.nameExt)">
                        <img :src="wp.path" :alt="wp.name" :class="(USER.systemconfig.desktopWallpaper == wp.nameExt) ? 'selected-wp' : ''" />
                        <div class="wp-elem-min-title">{{ wp.name }}</div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- memory managment area -->
        <div v-if="SelectArea === 'memmanagment' || SelectArea === 'all'" class="osisettings-elem-info">
            <h2>{{ LangData.memmanagment }}</h2>
            <h3 style="padding-left: 10px; margin-top: 10px;">localStorage:</h3>
            <div v-if="storeStatistic">
                <table class="osisettings-elem-info-tab">
                    <tbody>
                        <tr class="tab-header">
                            <td colspan="3">Память:</td>
                        </tr>
                        <tr>
                            <td colspan="2">Лимит:</td>
                            <td>{{storeStatistic.limit.standard}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Занято (в MB):</td>
                            <td>{{storeStatistic.total.megabytes}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Занято (в %):</td>
                            <td>{{storeStatistic.limit.usedPercent}}</td>
                        </tr>
                        <tr class="tab-header">
                            <td colspan="3">Хранилища:</td>
                        </tr>
                        <tr v-if="storeStatistic.entries && storeStatistic.entries.length > 0">
                            <td>№</td>
                            <td>Наименование</td>
                            <td>Занято</td>
                        </tr>
                        <tr v-for="(val, counter) in storeStatistic.entries">
                        <!-- <tr v-for="(counter,val) in Array.from({ length: storeStatistic.total.entries }, (_, i) => i + 1)"></tr> -->
                            <td>{{++counter}}</td>
                            <td>{{val.key}}</td>
                            <td>{{val.totalSize}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <table class="osisettings-elem-info-tab">
                    <tbody>
                        <tr>
                            <td>Нет данных</td>
                        </tr>
                    </tbody>
                </table>                
            </div>
            <h3 style="padding-left: 10px; margin-top: 10px;">IndexedDB:</h3>
            <div v-if="indexedDBStatistic"></div>
            <div v-else>
                <table class="osisettings-elem-info-tab">
                    <tbody>
                        <tr>
                            <td>Нет данных</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
        
</div>    