* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

/* html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 12px; } */

body {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
    background: #f0f0f0; }

#app { height: 100%; }

.webos { display: flex; flex-direction: column; height: 100vh; overflow: hidden; }

h1, h2, h3 { font-weight: 600; }
h4, h5 { font-weight: 500; }

h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 15px; }
h5 { font-size: 14px; }

.text-ico-tech,
.text-ico-info,
.text-ico-purpure {
    --bs-text-opacity: 1;
    color: white;
    border-radius: 50px; }

.text-ico-tech { background: linear-gradient(to bottom, rgb(235, 235, 235), rgb(122, 122, 122)); }
.text-ico-info { background: linear-gradient(to bottom, rgb(55, 154, 235), rgb(33, 65, 209)); }
.text-ico-purpure { background: linear-gradient(to bottom, rgb(103, 55, 235), rgb(80, 33, 209)); }