<div class="justread_app">
    <!-- Форма "О программе" -->
    <div v-if="aboutVisible" class="justread_about">
        <div class="justread_about_content">
            <h1>OSI JustRead</h1>
            <p>OSI JustRead - это приложение для чтения текстовых файлов.</p>
            <p>Вы можете открыть файлы в формате txt, md, text/plain.</p>
            <button @click="aboutVisible = false">Закрыть</button>
        </div>
    </div>
    <!-- Список файлов -->
    <div v-if="files.length > 0" class="files_list">
        <span><b>Список файлов:</b></span>
        <ul>
            <li v-for="(f, index) in files" :key="f.id ?? `${f.name}-${f.size}-${index}`" class="file_item" :class="{ selected_file: currentIndex === index }" @click="selectFile(index)">{{ f.name }}</li>
        </ul>
    </div>

    <!-- Панель настроек отображения -->
    <div v-if="files.length > 0" class="view_options">
        <!-- Размер шрифта -->
        <div class="view_options_elem">
            <span>{{ LangData.fontSize }}</span>
            <button type="button" class="font_size_button" @click="Chng_fontSize('-')" :disabled="fontSize <= fontSizeMin">-</button>
            <input type="text" inputmode="numeric" class="font_size_input" :value="fontSize" maxlength="2" @input="handleFontSizeInput" @blur="normalizeFontSize" @keydown="onFontSizeKeydown">
            <button type="button" class="font_size_button" @click="Chng_fontSize('+')" :disabled="fontSize >= fontSizeMax">+</button>
        </div>
    </div>

    <!-- Панель инструментов -->
    <input type="file" ref="fileInput" accept=".txt,.md,text/plain,.pdf,.docx,.doc" multiple @change="handleFileSelect" style="display: none">
    <div class="justread_toolbar">
        <div class="main_title">
            <span>{{TargetTitle}}</span>
        </div>
        <div class="main_menu">
            <button @click="openFilePicker">{{LangData.open}}</button>
            <button @click="aboutVisible = !aboutVisible">{{LangData.about}}</button>
        </div>
    </div>
    <!-- Контент файла -->
    <div class="sheet_viewport">
        <div v-if="isTextViewable" class="file_content">
            <pre :style="contentFontStyle">{{ fileContent }}</pre>
        </div>
        <div v-else-if="currentFileType === 'application/pdf'" class="file_content">
            Тут будет отображение PDF файла
        </div>
        <div v-else-if="currentFileType === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'" class="file_content">
            Тут будет отображение DOCX файла
        </div>
        <div v-else-if="currentFileType === 'application/msword'" class="file_content">
            Тут будет отображение DOC файла
        </div>
        <div v-else class="file_content">
            <span class="empty_file">Файл не выбран</span>
        </div>
    </div>
    <div v-if="currentFile" class="justread_footer">
        <span>Тип: {{currentFileType}}</span>
        <span>Размер: {{currentFileSize}}</span>
    </div>    
</div>