.appmanager-app {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85));
    color: white;
    font-family: 'Segoe UI', Arial, sans-serif;
    overflow: auto; }

.search-area {
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-area label {
    margin-right: 10px;
    font-weight: 500;
    text-transform: uppercase; }
.search-area input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    padding: 3px 5px;
}

.appslist-area {
    width: 90%;
    max-width: 1600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.appslist-elem {
    min-width: 300px;
    max-width: 500px;
    min-height: 80px;
    max-height: 100px;
    margin: 5px 10px;
    padding: 3px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.appslist-elem-ico {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 10px;
    /* cursor: pointer; */
    /* padding: 10px; */
    border-radius: 50px;
    transition: all 0.2s;
    user-select: none;
    font-size: 48px;
}

.appslist-elem-info {
    width: calc(100% - 90px);
    margin: 10px 10px 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 3px 5px; }

.appslist-elem-category {
    float: right;
    top: 5px;
    font-weight: 600;
    margin-right: 10px;
    color: violet;
    text-shadow: 1px 1px 2px black; }

.appslist-elem-showDesk {
    width: 40px;
    height: 20px;
    float: right;
    margin-top: 3px;
    margin-right: -10px;
    padding: 3px;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(127, 87, 238), rgb(213, 130, 238), rgb(127, 87, 238));
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 14px; }
.appslist-elem-showStart {
    width: 40px;
    height: 20px;
    float: right;
    margin-top: 33px;
    margin-right: -40px;
    padding: 3px;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(127, 87, 238), rgb(213, 130, 238), rgb(127, 87, 238));
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 14px; }

.appslist-elem-showDesk input,
.appslist-elem-showStart input { width: 20px; }

.warning-text-area {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px; }