<div class="appmanager-app">
    <div class="search-area">
        <label for="search_input">{{LangData('search')}}:</label>
        <input id="search_input" type="text" v-model="searchInputTxt">
    </div>
    
    <div v-if="isNeedReload" class="warning-text-area">
        <h3>{{LangData('systemmustberestartedforchanges')}}</h3>
        <div @click="reloadPage()">Перезагрузить</div>
    </div>
    <div v-else></div>

    <div v-if="searchInputTxt.length ===0" class="appslist-area">
        <div v-for="cat in Object.keys(sortedAppsByCategory)" :key="cat">
            <h3>{{GLangData['cattype_' + cat]}}</h3>
            <div class="apps-categorylist">
                <div v-for="app in sortedAppsByCategory[cat]" :key="app.id" class="appslist-elem">
                    <div class="appslist-elem-ico" @click="launchApp(app)">
                        <AppIcon :icon-img="app.iconImg" :iconclass="app.iconclass" :icon="app.icon" :alt="app.label" size="lg"/>
                    </div>
                    <div class="appslist-elem-info">
                        <div class="appelem-text">
                            <h3>
                                <span>{{app.label}}</span>
                                <small class="appslist-elem-category">{{GLangData['cattype_' + app.category]}}</small>
                            </h3>
                            <i>{{app.description}}</i>
                        </div>
                        <div class="appelem-panel">
                            <div class="appslist-elem-showDesk" title="Отображать на рабочем столе.">
                                <i class="bi bi-display-fill me-1"></i>
                                <input type="checkbox" name="" :id="app.id + '_showOnDesktop'" v-model="app.showOnDesktop" :checked="app.showOnDesktop" @change="Chng_showOnDesktop(app)">
                            </div>
                            <div class="appslist-elem-showStart" title="Отображать в меню запуска.">
                                <i class="bi bi-house-fill me-1"></i>
                                <input type="checkbox" name="" :id="app.id + '_showInStartMenu'" :checked="app.showInStartMenu" v-model="app.showInStartMenu" @change="Chng_showInStartMenu(app)">
                            </div>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else class="appslist-area">
        <div v-if="hasSearchResults">
            <h3>Результаты поиска</h3>
            <div class="apps-categorylist">
                <div v-for="app in filteredApps" :key="app.id" class="appslist-elem">
                    <div class="appslist-elem-ico d-flex justify-content-center align-items-center" @click="launchApp(app)">
                        <AppIcon :icon-img="app.iconImg" :iconclass="app.iconclass" :icon="app.icon" :alt="app.label" size="lg"/>                            
                    </div>
                    <div class="appslist-elem-info">
                        <div class="appelem-text">
                            <h3>
                                <span>{{app.label}}</span>
                                <small class="appslist-elem-category">{{GLangData['cattype_' + app.category]}}</small>
                            </h3>
                            <i>{{app.description}}</i>
                        </div>
                        <div class="appelem-panel">
                            <div class="appslist-elem-showDesk d-flex justify-content-center align-items-center">
                                <i class="bi bi-display-fill me-1"></i>
                                <input type="checkbox" name="" :id="app.id + '_showOnDesktop'" v-model="app.showOnDesktop" :checked="app.showOnDesktop" @change="Chng_showOnDesktop(app)">
                            </div>
                            <div class="appslist-elem-showStart d-flex justify-content-center align-items-center">
                                <i class="bi bi-house-fill me-1"></i>
                                <input type="checkbox" name="" :id="app.id + '_showInStartMenu'" :checked="app.showInStartMenu" v-model="app.showInStartMenu" @change="Chng_showInStartMenu(app)">
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="no-results">Ничего не найдено по запросу "{{searchInputTxt}}"</div>
    </div>
</div>