.calendar-app {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* padding: .5rem; */
    background-color: azure; }

.calendar-bottom-panel,
.calendar-top-panel {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
    background: linear-gradient(180deg, rgb(125, 238, 238), rgb(91, 196, 196));
    /* backdrop-filter: blur(10px); */
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: 500;
    margin: .5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); }

.calendar-area-work {
    display: flex;
    width: calc(100% - 1rem);
    height: calc(100% - 6rem);
    margin-left: .5rem;
    margin-right: .5rem; }

.calendar-area-table {
    display: inline-block;
    width: calc(100% - 510px);
    height: 100%;
    margin-right: 10px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgb(125, 238, 238), rgb(91, 196, 196));
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.calendar-area-info {
    display: inline-block;
    width: 500px;
    height: 100%;
    background: linear-gradient(180deg, rgb(125, 238, 238), rgb(91, 196, 196));
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.calendar-area-table-head {
    display: block;
    width: 100%;
    height: 30px;
    color: white;
    font-weight: 500;
    border-radius: 5px 5px 0 0; }