.autorization-area {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85));
    color: white;
}

.login-elem {
    width: 160px;
    height: 100px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 6px 20px rgba(0, 120, 212, 0.25);
}
.login-elem:hover { box-shadow: 0 6px 20px rgba(1, 135, 238, 0.25); }

.autorization-area table {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* background-color: white; */
    text-align: center;
}

.login-elem-ava {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    background-color: aliceblue;
    border-radius: 50px;
}

/* .login-elem-info { display: inline-block; } */
.login-elem-button {
    padding: 3px 5px;
    background-color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
    opacity: .9; }
.login-elem-button:hover { opacity: 1;}