.autorization-area {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85));
    color: white;
    font-size: 14px; }

.autorization-area table {
    width: 96%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden; }

.logins-list-area { padding: 10px; }

.login-elem {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 6px 20px rgba(249, 250, 250, 0.25); }

.login-elem:hover { box-shadow: 0 6px 20px rgba(0, 120, 212, 0.25); }

.login-elem-info {
    width: calc(100% - 100px);
    margin-right: 10px;
    overflow: hidden; }

.login-elem-button {
    padding: 3px 5px;
    background-color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    opacity: .9; }

.login-elem-button:hover { opacity: 1; }

.login-elem-newbutton { margin-top: 10px; }

.button-createnewuser {
    padding: 5px 10px;
    font-size: 18px;
    background-color: rgb(43, 226, 113);
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    opacity: .9; }

.button-createnewuser:hover { opacity: 1; }

.intro-area,
.deleting-area,
.creating-area,
.operresult-area {
    width: 96%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border: 1px solid rgb(43, 226, 113);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 6px 20px rgba(43, 226, 113, 0.25);
    font-size: medium; }

.newuser-inputelem { width: 600px; }

.newuser-inputelem input {
    width: 250px;
    border-radius: 5px;
    margin-left: 5px;
    padding: 3px 5px; }

.newuser-inputelem label { width: 80px; }

.login-elem-ava {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: aliceblue;
    border-radius: 5px; }

.login-elem-miniava {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    background-color: aliceblue;
    border-radius: 5px; }

.login-elem-microava {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px 5px;
    background-color: aliceblue;
    border-radius: 50px; }

.selected-avatar {
    border: 3px solid rgb(43, 226, 113);
    box-shadow: 0 6px 20px rgba(43, 226, 113, 0.25); }

.user-del-minbtn {
    float: right;
    right: 10px;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 1px;
    opacity: .9; }

.user-del-minbtn:hover {
    opacity: 1;
    color: red; }

.warning-text-area {
    display: block;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid rgb(226, 28, 28);
    padding: 5px 10px; }

.warning-text-area h3 { color: rgb(226, 28, 28); }

.deletin-user-data {
    display: block;
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white; }

.button-deluser-confirm,
.button-deluser-abort {
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    opacity: .9; }

.button-deluser-confirm { background-color: rgb(226, 28, 28); }
.button-deluser-abort { background-color: rgb(189, 189, 189); }

.button-deluser-confirm:hover,
.button-deluser-abort:hover { opacity: 1; }

.load-animation {
    display: inline-block; /* важно для корректного вращения */
    font-size: 64px;
    color: rgb(43, 226, 113);
    animation: rotate 5s linear infinite;
    transform-origin: center; }

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}