.autorization-area {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85));
    color: white;
}

.autorization-area table {
    width: 96%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* background-color: white; */
    /* box-shadow: 0 6px 20px rgba(0, 120, 212, 0.25); */
    text-align: center;
    border-radius: 5px; }

.login-elem {
    width: 200px;
    height: 100px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 6px 20px rgba(249, 250, 250, 0.25);
    /* box-shadow: 0 6px 20px rgba(0, 120, 212, 0.25); */
}
.login-elem:hover {
    /* box-shadow: 0 6px 20px rgba(1, 135, 238, 0.25); */
    box-shadow: 0 6px 20px rgba(0, 120, 212, 0.25);
}

/* .login-elem-ava {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: aliceblue;
    border-radius: 15px;
} */

.login-elem-info {
    width: calc(100% - 100px);
    margin-right: 10px;
    overflow: hidden;
}

.login-elem-button {
    padding: 3px 5px;
    background-color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /* margin-bottom: 10px; */
    opacity: .9; }
.login-elem-button:hover { opacity: 1; }

.login-elem-newbutton {
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.button-createnewuser {
    padding: 5px 10px;
    font-size: 18px;
    background-color: rgb(43, 226, 113);
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    opacity: .9; }
.button-createnewuser:hover { opacity: 1; }

.creating-area {
    width: 96%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid rgb(43, 226, 113);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 6px 20px rgba(43, 226, 113, 0.25);
    font-size: medium;
}

.newuser-inputelem {
    width: 600px;
}

.newuser-inputelem input {
    width: 250px;
    border-radius: 5px;
    margin-left: 5px;
    padding: 3px 5px;
}

.newuser-inputelem label {
    width: 80px;
}

.login-elem-ava {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    background-color: aliceblue;
    border-radius: 5px;
}

.login-elem-miniava {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    background-color: aliceblue;
    border-radius: 5px;
}

.login-elem-microava {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px 5px;
    background-color: aliceblue;
    border-radius: 50px; }

.selected-avatar {
    border: 3px solid rgb(43, 226, 113);
    box-shadow: 0 6px 20px rgba(43, 226, 113, 0.25);
}