<div id="desktop-area" class="desktop-area" @click="activateDesktop" :style="desktopStyle">
    <div class="desktop-icons">
        <div v-for="app in deskApps" :key="app.name" class="desktop-icon" @dblclick="launchApp(app)">
            <div class="icon" :class="!app.icon ? app.iconclass : ''" :style="app.iconclass ? 'color: white' : ''">{{app.icon}}</div>
            <span class="label">{{ app.label }}</span>
        </div>
    </div>    
    <!-- Slot from windows -->
    <slot></slot>    
</div>