<div v-if="!isMinimized" class="simple-window" :class="{ 'active': isActive, 'maximized': isMaximized }" :style="windowStyles" @mousedown="activateWindow">
    <div class="window-header" @mousedown="startDrag" @dblclick="toggleMaximize">
        <span class="window-title">{{ title }}</span>
        <div class="window-controls">
            <button v-if="canMinimize" class="window-btn minimize" @click="minimize">_</button>
            <button v-if="resizable" class="window-btn maximize" @click="toggleMaximize">{{ isMaximized ? '❐' : '□' }}</button>
            <button class="window-btn close bi bi-x-lg" @click="close"></button>
        </div>
    </div>
    <div class="window-content">
        <slot>
            <component v-if="dynamicComponent" :is="dynamicComponent" :window-id="windowId" :USERID="USERID"/>
            <div v-else class="default-content">
                <p>ID {{windowId}}</p>
                <p>Это окно {{ isMaximized ? 'развернуто' : 'не развернуто' }}</p>
                <p>Размер: {{ windowWidth }} × {{ windowHeight }}</p>
                <hr>
                <p>appName:: {{ appName }}</p>
                <p>title:: {{title}}</p>
                <p>isActive:: {{isActive}}</p>
                <p>resizable:: {{resizable}}</p>
                <p>isMinimized:: {{isMinimized}}</p>
                <p>isMaximized:: {{isMaximized}}</p>
                <!-- <p>componentPath:: {{ componentPath }}</p> -->
                <p>zIndex:: {{zIndex}}</p>
                <p>defWidth:: {{defWidth}}</p>
                <p>defHeight:: {{defHeight}}</p>
                <p>icon:: {{icon}}</p>
                <p>canMinimize:: {{canMinimize}}</p>
            </div>    
        </slot>
    </div>
    <div v-if="!isMaximized && resizable" class="resize-handle resize-top" @mousedown="startResize('n', $event)"></div>
    <div v-if="!isMaximized && resizable" class="resize-handle resize-right" @mousedown="startResize('e', $event)"></div>
    <div v-if="!isMaximized && resizable" class="resize-handle resize-bottom" @mousedown="startResize('s', $event)"></div>
    <div v-if="!isMaximized && resizable" class="resize-handle resize-left" @mousedown="startResize('w', $event)"></div>
    <div v-if="!isMaximized && resizable" class="resize-handle resize-top-right" @mousedown="startResize('ne', $event)"></div>
    <div v-if="!isMaximized && resizable" class="resize-handle resize-bottom-right" @mousedown="startResize('se', $event)"></div>
    <div v-if="!isMaximized && resizable" class="resize-handle resize-bottom-left" @mousedown="startResize('sw', $event)"></div>
    <div v-if="!isMaximized && resizable" class="resize-handle resize-top-left" @mousedown="startResize('nw', $event)"></div>
</div>
<div v-else></div>