.calendar-app {
    /* display: block; */
    width: 100%;
    height: 100%;
    padding: 10px;
}

.calendar-top-panel,
.calendar-bottom-panel {
    display: block;
    width: 100%;
    height: 30px;
    background-color: rgb(54, 163, 226);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: 500;
}

.calendar-workarea {
    display: flex;
    width: 100%;
    height: calc(100% - 120px);
    margin-bottom: 10px;
    margin-top: 10px;
}

.calendar-mainmenuarea {
    display: inline-block;
    min-width: 30px;
    max-width: 300px;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(54, 163, 226);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    color: white;
}

.calendar-tablearea {
    display: inline-block;
    min-width: calc(100% - 310px);
    max-width: calc(100% - 20px);
    height: 100%;
    background-color: rgba(54, 163, 226, 0.2);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    /* padding: 5px; */
    margin-left: 10px;
 }

.calendar-btn-chngmenu {
    text-align: left;
    padding: 1px;
    text-shadow: 1px 1px 2px black;
    color: white;
    margin-left: auto;
    margin-right: auto; }

.calendar-btn-chngmenu:hover {
    color: rgb(241, 241, 241);
}

.calendar-mainmenuarea-info {
    /* display: table; */
    /* display: block; */
    /* width: 90%; */
    min-height: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.calendar-table-month {
    display: block;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    /* background-color: white; */
 }

.calendar-table-month table {
    display: table;
    width: 100%;
    height: 100%; }

.calendar-table-th {
    height: 30px;
    text-align: center;
    font-weight: 500;
    /* background-color: white; */
    color: white;
    text-shadow: 1px 1px 2px black;
 }

.calendar-table-tcell {
    width: 98%;
    height: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: white;
    text-align: center; }

.calendar-table-tcell:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.calendar-table-tcell-header {
    /* display: block; */
    width: 100%;
    height: 30px;
    /* background-color: rgb(255, 64, 64); */
    background-color: rgb(230, 230, 230);
    color: white;
    border-radius: 5px 5px 0 0;
    /* text-align: center; */
    font-size: small;
    font-weight: 500;
    text-shadow: 1px 1px 2px black;
}

.calendar-table-tcell-content {
    display: block;
    width: 98%;
    /* height: calc(100% - 40px); */
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    font-size: small;
    overflow: hidden;
    overflow-y: auto; }

.other-month {
    opacity: 0.4;
    background-color: rgb(220, 220, 220);
}

.current-day { background: linear-gradient(#e3f72f, #c0ce23); }
.current-day-block { border: 2px solid #c0ce23; }

.selected-day {
    background-color: #dffbbb;
    border: 2px solid #2196f3;
}

.calendar-table-tcell-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.calendar-table-monthheader {
    display: block;
    width: 100%;
    height: 30px;
    background-color: rgb(54, 163, 226);
    text-align: center;
    border-radius: 5px;
    padding-top: 3px;
    color: white;
    text-shadow: 1px 1px 2px black; }

.planelem {
    display: block;
    width: 98%;
    min-height: 30px;
    margin-top: 3px;
    text-align: center;
    background-color: rgba(54, 163, 226, 0.2);
    border-radius: 5px;
}

.planelem-timearea {
    display: inline-block;
    width: 70px;
    height: calc(100% - 10px);
    background-color: white;
    border-radius: 5px;
    padding-top: 1px;
    color: #2196f3; }

.planelem-titlearea {
    display: inline-block;
    width: calc(100% - 80px);
    height: calc(100% - 10px);
    font-weight: 500; }