.window-content {
    background-color: rgb(238, 238, 238) !important;
}

.app_osihelper {
    display: block;
    width: 100%;
    height: 100%;
    color: black; }

dt {
    font-weight: 600;
    text-transform: uppercase;
    border-left: 1px solid lightgray;
    padding-left: 5px; }

dd {
    padding-left: 10px;
    margin-bottom: 10px; }

.pageheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 30px;
    background: linear-gradient(rgba(88, 26, 117, 0.85), rgba(117, 35, 155, 0.85), rgba(88, 26, 117, 0.85));
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    padding: 3px 5px;
    font-size:large;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto; }

.pageheader span {
    margin-left: auto;
    margin-right: auto; }

.pagecontent {
    display: block;
    width: 98%;
    padding: 10px;
    margin-left: auto;    
    margin-right: auto;
    background-color: white;
    border-radius: 5px; }