.notifs-area,
.notifs-area-min {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 600px;
    max-width: 600px;
    max-height: 350px;
    float: right;
    right: 0;
    /* padding: 5px 10px; */
    bottom: 40px;
    z-index: 5000;
    overflow: hidden;
    overflow-y: auto; }

.notifs-area-min { width: 0px;  height: 0px; }

.notif-min-elem {
    display: flex;
    flex-direction: column;
    width: calc(98% - 10px);
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgba(202, 202, 202, 0.5);
    /* color: white; */
    font-size: medium;
    backdrop-filter: blur(2px);
    border-radius: 5px 0 0 5px;
    box-shadow: 1px 1px 3px rgb(61, 61, 61); }
.notif-min-elem:hover {box-shadow: 1px 1px 3px black;}

.notif-min-elem .btn-close {
    display: flex;
    cursor: pointer;  
    align-items: center;
    justify-content: center;
    position: absolute;
    float: right;
    right: 10px;
    top: 7px;
    width: 14px;
    height: 14px;
    font-size: 12px;
    border-radius: 5px; }
.notif-min-elem .btn-close:hover {box-shadow: 1px 1px black; background-color: white; }

.notif-min-elem-title {
    display: block;
    width: 100%;
    height: 25px;
    padding: 2px 5px;
    background: linear-gradient(to bottom, rgb(103, 55, 235), rgb(80, 33, 209));
    color: white;
    border-radius: 5px 0 0 5px;
    font-size: medium;
    font-weight: 600; }

.notif-min-content-area {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 60px;
}

.notif-min-content-area .content-app {
    display: block;
    width: 100px;
    height: 100%;
    margin-top: 5px;
    background-color: rgba(59, 59, 59, 0.322);
    border-radius: 5px;
 }

.notif-min-content-area .content-inner {
    display: block;
    width: 490px;
    height: 100%;
    max-height: 70px;
    margin-top: 5px;
    overflow: hidden;
    padding: 3px 5px;
    background-color: rgba(255, 255, 255, 0.89);
    font-size: small;
    /* border-radius: 5px 0 0 5px; */
}