<div v-if="fullMode" class="notifs-area">
    <div v-for="notif in AllNotifs" class="notif-min-elem" :id="`notif_${notif.id}`">
        <button class="btn-close bi-x-lg"></button>
        <span class="notif-min-elem-title">{{notif.title}}</span>
        <div class="notif-min-content-area">
            <div class="content-app">{{notif.app}}</div>
            <div class="content-inner" v-html="notif.content"></div>
        </div>        
    </div>
</div>
<div v-else class="notifs-area-min">
    aaa
</div>